.appdetail{
    margin: 1rem;
}
.team{
    padding-top:.5rem;
    background-color: #f3f3f3;
    width:40%;
    margin-bottom:1rem;
}
.update-form{
    margin:2rem;
    border:1px solid black;
    padding: 1rem;
    border-radius: .5rem;
}