.appdetail{
    margin: 1rem;
}
.team{
    padding-top:.5rem;
    background-color: #f3f3f3;
    width:40%;
    margin-bottom:1rem;
}
.update-form{
    
    margin-bottom: 3rem;
    margin-top:2rem;
    border:1px solid black;
    padding: 1rem;
    border-radius: .5rem;
    background-color: bisque;
}
.bugs{
    margin-top:2rem;
}